@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #0D0D0D;
    --cor-secundaria: #176A73;
    --cor-tercearia: #9BB5BF;
    --cor-quarta: #202E40;
    --cor-quinta: #F2F0EB;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho_navegador {
    display: flex;
    gap: 5rem;
    padding: 3% 0 0 15%;
}

.cabecalho_navegador_link{
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.cabecalho_navegador_link:hover{
    color: var(--cor-quinta);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-tercearia);
}

.container-pai{
    display: flex;
    flex-direction: row;
    padding: 5% 15%;
    gap: 3.13rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3.44rem;
    width: 55%;
}

h1 {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 90%;
    margin: 0 10%;
    text-align: center; 
}

.link {
    width: 60%;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--cor-quinta);
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.13rem solid var(--cor-secundaria);
    text-decoration: none;
    border-radius: 0.5rem;
}

.link:hover {
    background-color: var(--cor-quarta);
}

img {
    width: 38%;
    height: 43%;
    border-radius: 1rem;
    border: solid 0.13rem var(--cor-secundaria);
}

.texto-azul {
    color: var(--cor-secundaria);
}

h3{
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.logotipo{
    width: 32px;
    height: 32px;
    border: none;
}

.rodape {
    background-color: var(--cor-quarta);
    padding: 1.25rem;
    text-align: center;
}

.container-projeto {
    padding: 8% 5% 5% 0;
  }

.conteiner-projejo-coisas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9.38rem 0;
    width: 60%;
}

.paragrafo-projetos {
    text-align: justify;
    width: 60%;
}

.container-fotos-fotos {
    border: none;
    width: 60%;
}

.container-fotos-fotos:hover {
    opacity: 0.8;
    scale: 1.1;
}

.container-fotos-fotos {
    animation: fade-in 1s ease-in;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .foto-do-nadin {
    animation: brilho 3s ease-in-out infinite alternate;
  }
  
  @keyframes brilho {
    0% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(180%);
    }
    100% {
      filter: brightness(80%);
    }
  }

@media (max-width: 1200px) {
    .container-pai {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        padding: 2% 2%;
    }
    
    p {
        font-size: 1.25rem;
}

    .container {
        display: flex;
        flex-direction: column;
        gap: 45px;
        width: 100%;
    }

    .cabecalho_navegador {
        display: flex;
        justify-content: center;
        gap: 0.9rem;
        width: 100%;
        padding: 1% 0 1% 0;
}

    div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        border: solid 2px var(--cor-secundaria);
    }

    h1 {
        font-size: 1.88rem;
}

    .cabecalho_navegador_link{
        font-size: 1.25rem;
}

    .rodape_texto {
        font-size: 1rem;
}
    .rodape {
        width: 100%;
}
    
    .container-projeto {
        width: 100%;
        padding: 8% 2% 5% 2%;
    }

    .container-fotos-fotos {
        width: 90%;
    }

    .conteiner-projejo-coisas {
        width: 100%; 
    }

    .paragrafo-projetos {
        width: 90%;
    }
}
